@import url(https://fonts.googleapis.com/css?family=La+Belle+Aurore|Fira+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=La+Belle+Aurore|Fira+Sans:400,700);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Hindi:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiro+Kannada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@500&display=swap");
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

/*!

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

@media (max-width: 767px) {
  .navicon {
    width: 1.125em;
    height: .125em;
  }

  .navicon::before,
  .navicon::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all .2s ease-out;
    content: '';
    background: #3D4852;
  }

  .navicon::before {
    top: 5px;
  }

  .navicon::after {
    top: -5px;
  }

  .menu-btn:not(:checked)~.menu {
    display: none;
  }

  .menu-btn:checked~.menu {
    display: block;
  }

  .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
  }

  .menu-btn:checked~.menu-icon .navicon::before {
    transform: rotate(-45deg);
  }

  .menu-btn:checked~.menu-icon .navicon::after {
    transform: rotate(45deg);
  }

  .menu-btn:checked~.menu-icon .navicon::before,
  .menu-btn:checked~.menu-icon .navicon::after {
    top: 0;
  }
}


h3 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
}

.hero-page {
  /* Center the content */
  /* Take full size */
  background-color: #D3D9DF;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 80vh;
  width: 100%;
}

.hero-text {
  color: #112A46;
}

.hero-button-text {
  color: black;
}

.facilityCard {
  background: #D3D9DF;
}

.iconColor {
  color: #112A46;
}

.buttonPrice {
  background-color: #112A46;
}

.active {
  text-decoration: underline;
  text-decoration-color: #112A46;
  text-underline-offset: 0.3em;
}

.navFont {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.bglist {
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}

.locationP {
  color: gray;
  font-style: italic;
}

.priceBackground {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.cardBorder {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.cardBorderOneTwo{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 100%;

}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;

}

.textUnderline {
  text-decoration: underline;
  text-underline-offset: 0.1em;
}

.shadowContact {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 10px;
}

.informationBackground {
  background-color:	#dcdcdc;
}

.inputBorder {
  border: solid #112A46;
}

button:hover {
  background-color: #D3D9DF;
  transition: 0.3s;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 25px;
  right: 25px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 40px;
  text-align: center;
  font-size: 34px;
}

.my-float {
  margin: 14px;
}

.thumbnail {
  border-radius: 5px;
  cursor: zoom-in;
  transition: 0.3s;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.thumbnail:hover {
  opacity: 0.7;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 99;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  display: block;
  width: 75%;
  max-width: 75%;
  cursor: zoom-out;
}

.modal-content {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(1)
  }

  to {
    -webkit-transform: scale(2)
  }
}

@keyframes zoom {
  from {
    transform: scale(0.4)
  }

  to {
    transform: scale(1)
  }
}

@-webkit-keyframes zoom-out {
  from {
    transform: scale(1)
  }

  to {
    transform: scale(0)
  }
}

@keyframes zoom-out {
  from {
    transform: scale(1)
  }

  to {
    transform: scale(0)
  }
}

.out {
  animation-name: zoom-out;
  animation-duration: 0.6s;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

.footerfont {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.footerlink{
  color: #112A46;
  text-decoration: solid #112A46;
}

